.form {
  padding: 25px;
  border: 1px solid black;
}

.form__title {
  margin-bottom: 15px;
}

.form__select {
  display: flex;
  gap: 5px;
}

.form__button {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
