.loginPage {
  width: 100vw;
  height: 100vh;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  max-width: 700px;
  width: 100%;
  padding: 2rem;
  text-align: center;
  border: 1px solid black;
}

.errMessage {
  color: lightcoral;
  margin: 10px;
}

.errMessage_hidden {
  display: none;
}